Load Credit Card Database (SQL)

1.1 Data Extraction and Transformation with Python and PySpark

For “Credit Card System,” create a Python and PySpark SQL program to read/extract the following JSON files according to the specifications found in the mapping document

1. CDW_SAPP_BRANCH.JSON
2. CDW_SAPP_CREDITCARD.JSON
3. CDW_SAPP_CUSTOMER.JSON

In [17]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Capstone_demo').getOrCreate()

#Read json file which holds branch information into dataframe
df_branch = spark.read.json("cdw_sapp_branch.json")
df_branch.show()

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

In [18]:
#Read json file which holds credit card information into dataframe
df_creditCard = spark.read.load("cdw_sapp_credit.json", format="json", header = True,inferSchema = True)
df_creditCard.show(5)

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 5 rows

In [19]:
#Read json file which holds customer information into dataframe
df_customer = spark.read.load("cdw_sapp_custmer.json", format="json", header = True,inferSchema = True)
df_customer.show(5)

+------+----------------+------------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|APT_NO|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|         CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|
+------+----------------+------------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|   656|4210653310061055|     Natchez|United States|AHooper@example.com|   1237818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|
|   829|4210653310102868|Wethersfield|United States|EHolman@example.com|   1238933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    Brendan|123453023|    Redwood Drive|
|   683|4210653310116272|     Huntley|United States|WDunham@example.com|   1243018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   Ezequiel|123454487| 12th Street East|
|   253|4210653310195948|   NewBerlin|United States| EHardy@example.com|   1243215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      Trina|123459758|Country Club Road|
|   301|4210653310356919|      ElPaso|United States| WAyers@example.com|   1242074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        May|123454431|   Madison Street|
+------+----------------+------------+-------------+-------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
only showing top 5 rows

Extract all the JSON files based on the mapping

In [20]:
df_branch_new = df_branch.select("BRANCH_CODE", "BRANCH_NAME", "BRANCH_STREET", "BRANCH_CITY", "BRANCH_STATE", "BRANCH_ZIP", "BRANCH_PHONE", "LAST_UPDATED")
# display the schema in tree format
df_branch_new.printSchema()
#show the first five rows
df_branch_new.show(5)

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

+-----------+------------+-----------------+-----------------+------------+----------+------------+--------------------+
|BRANCH_CODE| BRANCH_NAME|    BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP|BRANCH_PHONE|        LAST_UPDATED|
+-----------+------------+-----------------+-----------------+------------+----------+------------+--------------------+
|          1|Example Bank|     Bridle Court|        Lakeville|          MN|     55044|  1234565276|2018-04-18T16:51:...|
|          2|Example Bank|Washington Street|          Huntley|          IL|     60142|  1234618993|2018-04-18T16:51:...|
|          3|Example Bank|    Warren Street|SouthRichmondHill|          NY|     11419|  1234985926|2018-04-18T16:51:...|
|          4|Example Bank| Cleveland Street|       Middleburg|          FL|     32068|  1234663064|2018-04-18T16:51:...|
|          5|Example Bank|      14th Street|    KingOfPrussia|          PA|     19406|  1234849701|2018-04-18T16:51:...|
+-----------+------------+-----------------+-----------------+------------+----------+------------+--------------------+
only showing top 5 rows

In [21]:
df_creditCard_new = df_creditCard.select("CREDIT_CARD_NO","DAY", "MONTH", "YEAR", "CUST_SSN", "BRANCH_CODE", "TRANSACTION_TYPE", "TRANSACTION_VALUE", "TRANSACTION_ID")
# display the schema in tree format
df_creditCard_new.printSchema()
#show the first five rows
df_creditCard_new.show(5)

root
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- YEAR: long (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)

+----------------+---+-----+----+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO|DAY|MONTH|YEAR| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+---+-----+----+---------+-----------+----------------+-----------------+--------------+
|4210653349028689| 14|    2|2018|123459988|        114|       Education|             78.9|             1|
|4210653349028689| 20|    3|2018|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|  8|    7|2018|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689| 19|    4|2018|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689| 10|   10|2018|123459988|         93|             Gas|             3.59|             5|
+----------------+---+-----+----+---------+-----------+----------------+-----------------+--------------+
only showing top 5 rows

In [22]:
df_customer_new=df_customer.select("SSN", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "CREDIT_CARD_NO", "STREET_NAME", "APT_NO", "CUST_CITY",
"CUST_STATE", "CUST_COUNTRY", "CUST_ZIP", "CUST_PHONE", "CUST_EMAIL", "LAST_UPDATED")
# display the schema in tree format
df_customer_new.printSchema()
#show the first five rows
df_customer_new.show(5)

root
 |-- SSN: long (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- STREET_NAME: string (nullable = true)
 |-- APT_NO: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- CUST_PHONE: long (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

+---------+----------+-----------+---------+----------------+-----------------+------+------------+----------+-------------+--------+----------+-------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO|      STREET_NAME|APT_NO|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+-----------------+------+------------+----------+-------------+--------+----------+-------------------+--------------------+
|123456100|      Alec|         Wm|   Hooper|4210653310061055|Main Street North|   656|     Natchez|        MS|United States|   39120|   1237818|AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    Brendan|   Holman|4210653310102868|    Redwood Drive|   829|Wethersfield|        CT|United States|   06109|   1238933|EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   Ezequiel|   Dunham|4210653310116272| 12th Street East|   683|     Huntley|        IL|United States|   60142|   1243018|WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      Trina|    Hardy|4210653310195948|Country Club Road|   253|   NewBerlin|        WI|United States|   53151|   1243215| EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        May|    Ayers|4210653310356919|   Madison Street|   301|      ElPaso|        TX|United States|   79930|   1242074| WAyers@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+-----------------+------+------------+----------+-------------+--------+----------+-------------------+--------------------+
only showing top 5 rows

 change the data type of the branch to the following based on the mapping
 [('BRANCH_CODE', 'int'),
  ('BRANCH_NAME', 'varchar'),
  ('BRANCH_STREET', 'varchar'),
  ('BRANCH_CITY', 'varchar'),
  ('BRANCH_STATE', 'varchar'),
  ('BRANCH_ZIP', 'int'),
  ('BRANCH_PHONE', 'varchar'),
  ('LAST_UPDATED', 'TIMESTAMP')]

In [23]:
from pyspark.sql.types import IntegerType, StringType, TimestampType
df_branch_new = df_branch_new\
.withColumn('BRANCH_CODE', df_branch_new.BRANCH_CODE.cast(IntegerType()))\
.withColumn('BRANCH_NAME', df_branch_new.BRANCH_NAME.cast(StringType()))\
.withColumn('BRANCH_STREET', df_branch_new.BRANCH_STREET.cast(StringType()))\
.withColumn('BRANCH_CITY', df_branch_new.BRANCH_CITY.cast(StringType()))\
.withColumn('BRANCH_STATE', df_branch_new.BRANCH_STATE.cast(StringType()))\
.withColumn('BRANCH_ZIP', df_branch_new.BRANCH_ZIP.cast(IntegerType()))\
.withColumn('BRANCH_PHONE', df_branch_new.BRANCH_PHONE.cast(StringType()))\
.withColumn('LAST_UPDATED', df_branch_new.LAST_UPDATED.cast(TimestampType()))
df_branch_new.dtypes

[('BRANCH_CODE', 'int'),
 ('BRANCH_NAME', 'string'),
 ('BRANCH_STREET', 'string'),
 ('BRANCH_CITY', 'string'),
 ('BRANCH_STATE', 'string'),
 ('BRANCH_ZIP', 'int'),
 ('BRANCH_PHONE', 'string'),
 ('LAST_UPDATED', 'timestamp')]

If the source value is null load default (99999) value else Direct move

In [24]:
df_branch_new.na.fill(value=99999,subset=["BRANCH_ZIP"]).show(5)

+-----------+------------+-----------------+-----------------+------------+----------+------------+-------------------+
|BRANCH_CODE| BRANCH_NAME|    BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP|BRANCH_PHONE|       LAST_UPDATED|
+-----------+------------+-----------------+-----------------+------------+----------+------------+-------------------+
|          1|Example Bank|     Bridle Court|        Lakeville|          MN|     55044|  1234565276|2018-04-18 15:51:47|
|          2|Example Bank|Washington Street|          Huntley|          IL|     60142|  1234618993|2018-04-18 15:51:47|
|          3|Example Bank|    Warren Street|SouthRichmondHill|          NY|     11419|  1234985926|2018-04-18 15:51:47|
|          4|Example Bank| Cleveland Street|       Middleburg|          FL|     32068|  1234663064|2018-04-18 15:51:47|
|          5|Example Bank|      14th Street|    KingOfPrussia|          PA|     19406|  1234849701|2018-04-18 15:51:47|
+-----------+------------+-----------------+-----------------+------------+----------+------------+-------------------+
only showing top 5 rows

In [25]:
from pyspark.sql.functions import length, col
df_branch_new.select("BRANCH_ZIP").where(length(col("BRANCH_ZIP")) < 5).show(5)

+----------+
|BRANCH_ZIP|
+----------+
|      7501|
|      6109|
|      8844|
|      2155|
|      7866|
+----------+
only showing top 5 rows

Change the format of phone number to (XXX)XXX-XXXX

In [26]:
from pyspark.sql.functions import concat, lit, col, lpad

df_branch_new =df_branch_new.withColumn("BRANCH_PHONE", concat(lit("("),col("BRANCH_PHONE").substr(1, 3), lit(")"),\
                                                        col("BRANCH_PHONE").substr(4, 3), lit("-"), \
                                                        col("BRANCH_PHONE").substr(7, 4)))

df_branch_new = df_branch_new.withColumn('BRANCH_ZIP', lpad(df_branch_new.BRANCH_ZIP,5, '0'))



df_branch_new.show(5)

+-----------+------------+-----------------+-----------------+------------+----------+-------------+-------------------+
|BRANCH_CODE| BRANCH_NAME|    BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|       LAST_UPDATED|
+-----------+------------+-----------------+-----------------+------------+----------+-------------+-------------------+
|          1|Example Bank|     Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|2018-04-18 15:51:47|
|          2|Example Bank|Washington Street|          Huntley|          IL|     60142|(123)461-8993|2018-04-18 15:51:47|
|          3|Example Bank|    Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|2018-04-18 15:51:47|
|          4|Example Bank| Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|2018-04-18 15:51:47|
|          5|Example Bank|      14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|2018-04-18 15:51:47|
+-----------+------------+-----------------+-----------------+------------+----------+-------------+-------------------+
only showing top 5 rows

In [27]:
from pyspark.sql.functions import length, col
df_branch_new.select("BRANCH_ZIP").where(length(col("BRANCH_ZIP")) < 5).show()

+----------+
|BRANCH_ZIP|
+----------+
+----------+

change the data type of the credit data to the following 
[('CREDIT_CARD_NO', 'varchar'),
 ('DAY', 'varchar'),
 ('MONTH', 'varchar'),
 ('YEAR', 'varchar'),
 ('CUST_SSN', 'int'),
 ('BRANCH_CODE', 'int'),
 ('TRANSACTION_TYPE', 'varchar'),
 ('TRANSACTION_VALUE', 'double'),
 ('TRANSACTION_ID', 'int')]

In [28]:
from pyspark.sql.types import IntegerType, VarcharType, DoubleType
df_creditCard_new = df_creditCard_new\
.withColumn('CREDIT_CARD_NO', df_creditCard_new.CREDIT_CARD_NO.cast(VarcharType(30)))\
.withColumn('DAY', df_creditCard_new.DAY.cast(StringType()))\
.withColumn('MONTH', df_creditCard_new.MONTH.cast(StringType()))\
.withColumn('YEAR', df_creditCard_new.YEAR.cast(StringType()))\
.withColumn('CUST_SSN', df_creditCard_new.CUST_SSN.cast(IntegerType()))\
.withColumn('BRANCH_CODE', df_creditCard_new.BRANCH_CODE.cast(IntegerType()))\
.withColumn('TRANSACTION_TYPE', df_creditCard_new.TRANSACTION_TYPE.cast(StringType()))\
.withColumn('TRANSACTION_VALUE', df_creditCard_new.TRANSACTION_VALUE.cast(DoubleType()))\
.withColumn('TRANSACTION_ID', df_creditCard_new.TRANSACTION_ID.cast(IntegerType()))\

df_creditCard_new.dtypes

[('CREDIT_CARD_NO', 'string'),
 ('DAY', 'string'),
 ('MONTH', 'string'),
 ('YEAR', 'string'),
 ('CUST_SSN', 'int'),
 ('BRANCH_CODE', 'int'),
 ('TRANSACTION_TYPE', 'string'),
 ('TRANSACTION_VALUE', 'double'),
 ('TRANSACTION_ID', 'int')]

Convert DAY, MONTH, and YEAR into a TIMEID (YYYYMMDD)

In [29]:
from pyspark.sql.functions import concat, lit, col

df_creditCard_new =df_creditCard_new.withColumn("TIMEID",concat(col("YEAR"),
                                                        col("MONTH"), 
                                                        col("DAY")))

df_creditCard_new.show(5)

+----------------+---+-----+----+---------+-----------+----------------+-----------------+--------------+--------+
|  CREDIT_CARD_NO|DAY|MONTH|YEAR| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|  TIMEID|
+----------------+---+-----+----+---------+-----------+----------------+-----------------+--------------+--------+
|4210653349028689| 14|    2|2018|123459988|        114|       Education|             78.9|             1| 2018214|
|4210653349028689| 20|    3|2018|123459988|         35|   Entertainment|            14.24|             2| 2018320|
|4210653349028689|  8|    7|2018|123459988|        160|         Grocery|             56.7|             3|  201878|
|4210653349028689| 19|    4|2018|123459988|        114|   Entertainment|            59.73|             4| 2018419|
|4210653349028689| 10|   10|2018|123459988|         93|             Gas|             3.59|             5|20181010|
+----------------+---+-----+----+---------+-----------+----------------+-----------------+--------------+--------+
only showing top 5 rows

In [30]:
df_creditCard_new = df_creditCard_new.select("CREDIT_CARD_NO","TIMEID", "CUST_SSN", "BRANCH_CODE", "TRANSACTION_TYPE", "TRANSACTION_VALUE", "TRANSACTION_ID")
df_creditCard_new.show(5)

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689| 2018214|123459988|        114|       Education|             78.9|             1|
|4210653349028689| 2018320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|  201878|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689| 2018419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 5 rows

Convert the first Name to Title Case
Convert the middle name in lower case
Convert the Last Name in Title Case
Concatenate Apartment no and Street name of customer's Residence with comma as a seperator (Street, Apartment)

Change the format of phone number to (XXX)XXX-XXXX

In [31]:
from pyspark.sql.functions import initcap, lower, concat_ws
df_customer_new = df_customer_new\
    .withColumn("FIRST_NAME", initcap(df_customer_new["FIRST_NAME"]))\
    .withColumn("MIDDLE_NAME", lower(df_customer_new["MIDDLE_NAME"]))\
    .withColumn("LAST_NAME", initcap(df_customer_new["LAST_NAME"]))\
    .withColumn("FULL_STREET_ADDRESS", concat(df_customer_new["STREET_NAME"],lit(", "), df_customer_new["APT_NO"]))\
    
# The CUST_PHONE has 7 digit the first 3 digits are area code numbers since most of them has the same first 3 digit number
# add 3 randum digit number at the end of the number to before changing the format to (xxx)xxx-xxxx


df_customer_new =df_customer_new.withColumn("CUST_PHONE", concat(lit("("),col("CUST_PHONE").substr(1, 3), lit(")"),\
                                                        col("CUST_PHONE").substr(4, 3), lit("-"), \
                                                        col("CUST_PHONE").substr(7, 4)))

df_customer_new.show(5)

+---------+----------+-----------+---------+----------------+-----------------+------+------------+----------+-------------+--------+----------+-------------------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO|      STREET_NAME|APT_NO|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED| FULL_STREET_ADDRESS|
+---------+----------+-----------+---------+----------------+-----------------+------+------------+----------+-------------+--------+----------+-------------------+--------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|Main Street North|   656|     Natchez|        MS|United States|   39120|(123)781-8|AHooper@example.com|2018-04-21T12:49:...|Main Street North...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|    Redwood Drive|   829|Wethersfield|        CT|United States|   06109|(123)893-3|EHolman@example.com|2018-04-21T12:49:...|  Redwood Drive, 829|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272| 12th Street East|   683|     Huntley|        IL|United States|   60142|(124)301-8|WDunham@example.com|2018-04-21T12:49:...|12th Street East,...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|Country Club Road|   253|   NewBerlin|        WI|United States|   53151|(124)321-5| EHardy@example.com|2018-04-21T12:49:...|Country Club Road...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919|   Madison Street|   301|      ElPaso|        TX|United States|   79930|(124)207-4| WAyers@example.com|2018-04-21T12:49:...| Madison Street, 301|
+---------+----------+-----------+---------+----------------+-----------------+------+------------+----------+-------------+--------+----------+-------------------+--------------------+--------------------+
only showing top 5 rows

In [32]:
from pyspark.sql.functions import length
df_customer_new.select("CUST_ZIP").where(length(col("CUST_ZIP")) < 5).show()

+--------+
|CUST_ZIP|
+--------+
+--------+

In [33]:
df_customer_new = df_customer_new.withColumn("FULL_STREET_ADDRESS", df_customer_new.FULL_STREET_ADDRESS.cast(VarcharType(50)))
df_customer_new = df_customer_new.select("SSN", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "CREDIT_CARD_NO", "FULL_STREET_ADDRESS", "CUST_CITY",
"CUST_STATE", "CUST_COUNTRY", "CUST_ZIP", "CUST_PHONE", "CUST_EMAIL", "LAST_UPDATED")
df_customer_new.show(5)

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+-------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+-------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|Main Street North...|     Natchez|        MS|United States|   39120|(123)781-8|AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  Redwood Drive, 829|Wethersfield|        CT|United States|   06109|(123)893-3|EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|12th Street East,...|     Huntley|        IL|United States|   60142|(124)301-8|WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|Country Club Road...|   NewBerlin|        WI|United States|   53151|(124)321-5| EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| Madison Street, 301|      ElPaso|        TX|United States|   79930|(124)207-4| WAyers@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+-------------------+--------------------+
only showing top 5 rows

In [19]:
df_customer_new.dtypes

[('SSN', 'bigint'),
 ('FIRST_NAME', 'string'),
 ('MIDDLE_NAME', 'string'),
 ('LAST_NAME', 'string'),
 ('CREDIT_CARD_NO', 'string'),
 ('FULL_STREET_ADDRESS', 'string'),
 ('CUST_CITY', 'string'),
 ('CUST_STATE', 'string'),
 ('CUST_COUNTRY', 'string'),
 ('CUST_ZIP', 'string'),
 ('CUST_PHONE', 'string'),
 ('CUST_EMAIL', 'string'),
 ('LAST_UPDATED', 'string')]

Req-1.2  Data loading into Database
 Once PySpark reads data from JSON files, and then utilizes Python, PySpark, and Python modules to load data into RDBMS(SQL), perform the following:

Create a Database in SQL(MySQL), named “creditcard_capstone.”
Create a Python and Pyspark Program to load/write the “Credit Card System Data” into RDBMS(creditcard_capstone).
Tables should be created by the following names in RDBMS:
CDW_SAPP_BRANCH
CDW_SAPP_CREDIT_CARD
CDW_SAPP_CUSTOMER +- 
Create a Database in SQL(MySQL), named “creditcard_capstone.”

A Database is created on MySQL workbench 
syntax for creating database “creditcard_capstone." 

CREATE DATABASE `creditcard_capstone` /*!40100 DEFAULT CHARACTER SET latin1 */ /*!80016 DEFAULT ENCRYPTION='N' */;

In [20]:
# creating a table called 'CDW_SAPP_BRANCH' into creditcard_capstone database from SparkSQL Dataframe
# by connecting mysql workbench
import mysqlSecrets
df_branch_new.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
  .option("dbtable", "creditcard_capstone.CDW_SAPP_BRANCH") \
  .option("user", mysqlSecrets.mysql_username) \
  .option("password", mysqlSecrets.mysql_password) \
  .save()

In [21]:
# creating a table called 'CDW_SAPP_CREDIT_CARD' into creditcard_capstone database from SparkSQL Dataframe by connecting mysql workbench
df_creditCard_new.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
  .option("dbtable", "creditcard_capstone.CDW_SAPP_CREDIT_CARD") \
  .option("user", mysqlSecrets.mysql_username) \
  .option("password", mysqlSecrets.mysql_password) \
  .save()

In [22]:
# creating a table called 'CDW_SAPP_BRANCH' into creditcard_capstone database from SparkSQL Dataframe by connecting mysql workbench
df_customer_new.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
  .option("dbtable", "creditcard_capstone.CDW_SAPP_CUSTOMER") \
  .option("user", mysqlSecrets.mysql_username) \
  .option("password", mysqlSecrets.mysql_password) \
  .save()

In [23]:
df_branch_new=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
 user = mysqlSecrets.mysql_username,\
 password = mysqlSecrets.mysql_password,\
 url="jdbc:mysql://localhost:3306/creditcard_capstone",\
 dbtable="creditcard_capstone.CDW_SAPP_BRANCH").load()
df_branch_new.show(5)

+-----------+------------+-----------------+-----------------+------------+----------+-------------+-------------------+
|BRANCH_CODE| BRANCH_NAME|    BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|       LAST_UPDATED|
+-----------+------------+-----------------+-----------------+------------+----------+-------------+-------------------+
|          1|Example Bank|     Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|2018-04-18 15:51:47|
|          2|Example Bank|Washington Street|          Huntley|          IL|     60142|(123)461-8993|2018-04-18 15:51:47|
|          3|Example Bank|    Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|2018-04-18 15:51:47|
|          4|Example Bank| Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|2018-04-18 15:51:47|
|          5|Example Bank|      14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|2018-04-18 15:51:47|
+-----------+------------+-----------------+-----------------+------------+----------+-------------+-------------------+
only showing top 5 rows

In [24]:
df_creditCard_new=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
 user = mysqlSecrets.mysql_username,\
 password = mysqlSecrets.mysql_password,\
 url="jdbc:mysql://localhost:3306/creditcard_capstone",\
 dbtable="creditcard_capstone.CDW_SAPP_CREDIT_CARD").load()
df_creditCard_new.show(5)

+----------------+-------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO| TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+-------+---------+-----------+----------------+-----------------+--------------+
|4210653312478046|2018813|123455692|        156|         Grocery|            91.08|         22562|
|4210653349028689|2018214|123459988|        114|       Education|             78.9|             1|
|4210653342242023|2018315|123451310|        180|           Bills|            77.79|         45069|
|4210653312478046|2018626|123455692|        114|           Bills|             22.2|         22563|
|4210653312478046|2018320|123455692|         47|         Grocery|            77.54|         22564|
+----------------+-------+---------+-----------+----------------+-----------------+--------------+
only showing top 5 rows

In [25]:
df_customer_new=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
 user = mysqlSecrets.mysql_username,\
 password = mysqlSecrets.mysql_password,\
 url="jdbc:mysql://localhost:3306/creditcard_capstone",\
 dbtable="creditcard_capstone.CDW_SAPP_CUSTOMER").load()
df_customer_new.show(5)

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+-------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+-------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|Main Street North...|     Natchez|        MS|United States|   39120|(123)781-8|AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  Redwood Drive, 829|Wethersfield|        CT|United States|   06109|(123)893-3|EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|12th Street East,...|     Huntley|        IL|United States|   60142|(124)301-8|WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|Country Club Road...|   NewBerlin|        WI|United States|   53151|(124)321-5| EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| Madison Street, 301|      ElPaso|        TX|United States|   79930|(124)207-4| WAyers@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+-------------------+--------------------+
only showing top 5 rows

2. Functional Requirements - Application Front-End
Once data is loaded into the database, we need a front-end (console) to see/display data. For that, create a console-based Python program to satisfy System Requirements 2 (2.1 and 2.2).

 2.1 Transaction Details Module
 
1)  Used to display the transactions made by customers living in a given zip code for a given month and year. Order by day in descending order.

In [26]:
from pyspark.sql.functions import year, month, dayofweek
df_cus_tr = df_creditCard_new

df_cus_tr = df_cus_tr.withColumn('Day', col('TIMEID')[6:8])
df_cus_tr = df_cus_tr.withColumn('Month',month(col('TIMEID')))
df_cus_tr = df_cus_tr.withColumn('Year', col('TIMEID')[0:4])

df_creditCard_new.show(5)
df_cus_tr.show(5)

+----------------+-------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO| TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+-------+---------+-----------+----------------+-----------------+--------------+
|4210653312478046|2018813|123455692|        156|         Grocery|            91.08|         22562|
|4210653349028689|2018214|123459988|        114|       Education|             78.9|             1|
|4210653342242023|2018315|123451310|        180|           Bills|            77.79|         45069|
|4210653312478046|2018626|123455692|        114|           Bills|             22.2|         22563|
|4210653312478046|2018320|123455692|         47|         Grocery|            77.54|         22564|
+----------------+-------+---------+-----------+----------------+-----------------+--------------+
only showing top 5 rows

+----------------+-------+---------+-----------+----------------+-----------------+--------------+---+-----+----+
|  CREDIT_CARD_NO| TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|Day|Month|Year|
+----------------+-------+---------+-----------+----------------+-----------------+--------------+---+-----+----+
|4210653312478046|2018813|123455692|        156|         Grocery|            91.08|         22562| 13|    1|2018|
|4210653349028689|2018214|123459988|        114|       Education|             78.9|             1| 14|    1|2018|
|4210653342242023|2018315|123451310|        180|           Bills|            77.79|         45069| 15|    1|2018|
|4210653312478046|2018626|123455692|        114|           Bills|             22.2|         22563| 26|    1|2018|
|4210653312478046|2018320|123455692|         47|         Grocery|            77.54|         22564| 20|    1|2018|
+----------------+-------+---------+-----------+----------------+-----------------+--------------+---+-----+----+
only showing top 5 rows

In [27]:
#create temporary view for both transaction and customer data
df_cus_tr.createOrReplaceTempView("cus_transaction")
df_customer_new.createOrReplaceTempView("customer_detail")

In [28]:


def transaction_inzip():
    #enter customer zip Code
    cust_zip_code = input("Enter zip code: ")

    #enter customer LAST_UPDATED month
    Cust_tra_month = input("Enter transaction month: ")

    #enter customer LAST_UPDATED year
    cust_tra_year = input("Enter year: ")
    spark.sql(f"select  cd.FIRST_NAME, cd.MIDDLE_NAME, cd.LAST_NAME, ct.CREDIT_CARD_NO, cd.CUST_ZIP, ct.BRANCH_CODE, ct.TRANSACTION_TYPE, ct.TRANSACTION_VALUE, ct.TRANSACTION_ID, ct.TIMEID  
              from customer_detail cd inner join cus_transaction ct on  cd.CREDIT_CARD_NO = ct.CREDIT_CARD_NO where cd.CUST_ZIP = {cust_zip_code} AND ct.Month = {Cust_tra_month} AND ct.Year = {cust_tra_year} order by ct.Day DESC").show()# correct 
transaction_inzip()

+----------+-----------+---------+----------------+--------+-----------+----------------+-----------------+--------------+------+
|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO|CUST_ZIP|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|TIMEID|
+----------+-----------+---------+----------------+--------+-----------+----------------+-----------------+--------------+------+
|     Titus|     karina|  Conklin|4210653375686315|   07666|         37|             Gas|             45.3|         43766|201879|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|        166|       Education|             86.8|         42626|201839|
|   Deandre|        liz|   Keller|4210653348611322|   07666|         24|   Entertainment|            85.99|         34118|201819|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|        158|       Education|            79.66|         42661|201839|
|     Titus|     karina|  Conklin|4210653375686315|   07666|         37|             Gas|             45.3|         43766|201879|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|         73|       Education|            90.31|         42652|201889|
|   Deandre|        liz|   Keller|4210653348611322|   07666|         58|           Bills|            81.13|         34099|201839|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|        166|       Education|             86.8|         42626|201839|
|     Titus|     karina|  Conklin|4210653375686315|   07666|         37|             Gas|             45.3|         43766|201879|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|        158|       Education|            79.66|         42661|201839|
|   Deandre|        liz|   Keller|4210653348611322|   07666|         26|            Test|           100.63|         34089|201869|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|        158|       Education|            79.66|         42661|201839|
|     Titus|     karina|  Conklin|4210653375686315|   07666|         37|             Gas|             45.3|         43766|201879|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|          9|             Gas|            80.64|         42662|201889|
|   Deandre|        liz|   Keller|4210653348611322|   07666|         26|            Test|           100.63|         34089|201869|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|        114|         Grocery|            41.93|         42619|201899|
|     Titus|     karina|  Conklin|4210653375686315|   07666|         37|             Gas|             45.3|         43766|201879|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|         40|         Grocery|            62.05|         42663|201889|
|   Deandre|        liz|   Keller|4210653348611322|   07666|         58|           Bills|            81.13|         34099|201839|
|    Lillie|      kathi|  Barrett|4210653369171115|   07666|        114|         Grocery|            41.93|         42619|201899|
+----------+-----------+---------+----------------+--------+-----------+----------------+-----------------+--------------+------+
only showing top 20 rows

2)   Used to display the number and total values of transactions for a given type.

In [39]:
def transaction_type():

    transaction_type = input("enter customer transaction type")

    spark.sql(f"select count(TRANSACTION_ID), sum(TRANSACTION_VALUE) FROM cus_transaction WHERE TRANSACTION_TYPE='{transaction_type}'").show()
transaction_type()

+---------------------+----------------------+
|count(TRANSACTION_ID)|sum(TRANSACTION_VALUE)|
+---------------------+----------------------+
|                13722|      702810.559999999|
+---------------------+----------------------+

3) Used to display the total number and total values of transactions for branches in a given state.

In [41]:

def transaction_byState():
#enter state of branches
    state = input("enter state of a branchs")
    df_creditCard_new.createOrReplaceTempView("cus_tran_card")
    df_branch_new.createOrReplaceTempView("cus_branch")
    spark.sql(f"select count(ct.TRANSACTION_ID), sum(ct.TRANSACTION_VALUE) from cus_tran_card ct inner join cus_branch b on ct.BRANCH_CODE = b.BRANCH_CODE where b.BRANCH_STATE = '{state}'").show()
transaction_byState()

+---------------------+----------------------+
|count(TRANSACTION_ID)|sum(TRANSACTION_VALUE)|
+---------------------+----------------------+
|                26700|    1364707.5600000038|
+---------------------+----------------------+

2.2 Customer Details Module

1) Used to check the existing account details of a customer.

In [37]:
#Get user first name, last name and email from the user input
#for the customer  security the user input should be first name, last name and customer email
def cust_detail():
    first_name = input("Enter your first name: ")
    last_name = input("Enter your last name: ")
    email = input("Enter your email: ")
    customer_info = spark.sql(f"select substring(SSN, 6, 8) as LAST_4_DIGIT_SSN, FIRST_NAME, MIDDLE_NAME, LAST_NAME, CREDIT_CARD_NO, FULL_STREET_ADDRESS, CUST_CITY, CUST_STATE, CUST_COUNTRY, CUST_ZIP, CUST_PHONE, CUST_EMAIL, LAST_UPDATED from customer_detail where '{first_name}' = FIRST_NAME AND '{last_name}' = LAST_NAME AND '{email}' = CUST_EMAIL")
    customer_info.show()
cust_detail()

#To test this use first name = "Elsa",  lastname-  "Truong" and email  -ETruong@example.com

+----------------+----------+-----------+---------+----------------+--------------------+-----------+----------+-------------+--------+-------------+-------------------+--------------------+
|LAST_4_DIGIT_SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  CREDIT_CARD_NO| FULL_STREET_ADDRESS|  CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|         CUST_EMAIL|        LAST_UPDATED|
+----------------+----------+-----------+---------+----------------+--------------------+-----------+----------+-------------+--------+-------------+-------------------+--------------------+
|            3242|      Elsa|   isabelle|   Truong|4210653310844617|8th Street West, 924|Summerville|        SC|United States|   29483|   (123)622-8|ETruong@example.com|2018-04-21T12:49:...|
|            3242|      Elsa|   isabelle|   Truong|4210653310844617|8th Street West, 924|Summerville|        SC|United States|   29483|((12)3)6-22-8|ETruong@example.com|2018-04-21T12:49:...|
+----------------+----------+-----------+---------+----------------+--------------------+-----------+----------+-------------+--------+-------------+-------------------+--------------------+

2) Used to modify the existing account details of a customer.

In [53]:
import mysqlSecrets
import mysql.connector as mydbconnection 
from mysql.connector import Error 

def connect():
    
    conn = mydbconnection.connect(
                    host = 'localhost',
                    database='creditcard_capstone',
                    user = mysqlSecrets.mysql_username,
                    password = mysqlSecrets.mysql_password
        )
                     
    mycursor = conn.cursor()   
    
    
    #To test this use first name = "Elsa",  lastname-  "Truong" and email  -3242
    #To test this use col_to_modify - FIRST_NAME = Delina 
    sql = f"UPDATE CDW_SAPP_CUSTOMER SET {col_to_modify} = '{updated_value}' WHERE FIRST_NAME = '{first_name}' AND LAST_NAME = '{last_name}' AND substring(SSN, 6, 8) = '{last_4_digit_SSN}'"
    try:
        mycursor.execute(sql)
    

    except:
        conn.rollback()
    sql = f"select * from CDW_SAPP_CUSTOMER where substring(SSN, 6, 8) = '{last_4_digit_SSN}'"

    mycursor.execute(sql)


    print(mycursor.fetchall())
    mycursor.close()
    conn.close()

if __name__ == '__main__':

    #Get user first name, last name and email from the user input
    #for the customer  security the user input should be first name, last name and customer email
    first_name = input("Enter your first name: ")
    last_name = input("Enter your last name: ")
    last_4_digit_SSN = input("Enter last 4 digit number of your Social security number: ")
    col_to_modify = input("enter the section to be modified:")
    updated_value = input ("enter the new value that you want to update: ")
    connect()

[(123453242, 'Delina', 'isabelle', 'Truong', '4210653310844617', '8th Street West, 924', 'Summerville', 'SC', 'United States', '29483', '(123)622-8', 'ETruong@example.com', '2018-04-21T12:49:02.000-04:00')]

3) Used to generate a monthly bill for a credit card number for a given month and year.

In [43]:

df_cus_tr.createOrReplaceTempView("cus_transaction")
#spark.sql("select * from cus_transaction").show()
df_customer_new.createOrReplaceTempView("customer_detail")
def monthly_bill():
    creditCardNumber = input("Enter your credit card number: ")
    month = input("Enter month for the bill you want: ")
    year = input("Enter year for the bill you want: ")
    #Enter creditCardNumber - 4210653348611322, month - 1, year - 2018

    spark.sql(f"select  FIRST_NAME, LAST_NAME, ct. CREDIT_CARD_NO, BRANCH_CODE, TRANSACTION_TYPE, TRANSACTION_VALUE, TRANSACTION_ID from customer_detail cd left join cus_transaction ct ON ct. CREDIT_CARD_NO = cd.CREDIT_CARD_NO  where ct.CREDIT_CARD_NO = '{creditCardNumber}'AND ct.Month = '{month}' AND ct.Year = '{year}'").show()
monthly_bill()

+----------+---------+----------------+-----------+----------------+-----------------+--------------+
|FIRST_NAME|LAST_NAME|  CREDIT_CARD_NO|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------+---------+----------------+-----------+----------------+-----------------+--------------+
|   Deandre|   Keller|4210653348611322|          1|           Bills|            43.75|         34065|
|   Deandre|   Keller|4210653348611322|        188|      Healthcare|            68.83|         34066|
|   Deandre|   Keller|4210653348611322|         69|             Gas|             51.7|         34067|
|   Deandre|   Keller|4210653348611322|         51|       Education|            90.19|         34069|
|   Deandre|   Keller|4210653348611322|          2|            Test|            25.93|         34070|
|   Deandre|   Keller|4210653348611322|         76|         Grocery|            63.88|         34071|
|   Deandre|   Keller|4210653348611322|        111|      Healthcare|            87.91|         34072|
|   Deandre|   Keller|4210653348611322|        104|         Grocery|            59.31|         34073|
|   Deandre|   Keller|4210653348611322|         81|             Gas|             2.84|         34074|
|   Deandre|   Keller|4210653348611322|        170|             Gas|             1.83|         34075|
|   Deandre|   Keller|4210653348611322|         57|             Gas|            46.53|         34076|
|   Deandre|   Keller|4210653348611322|         10|             Gas|            30.96|         34077|
|   Deandre|   Keller|4210653348611322|        100|            Test|             58.1|         34079|
|   Deandre|   Keller|4210653348611322|         57|             Gas|            23.79|         34080|
|   Deandre|   Keller|4210653348611322|        104|           Bills|            11.09|         34081|
|   Deandre|   Keller|4210653348611322|        170|   Entertainment|            67.09|         34082|
|   Deandre|   Keller|4210653348611322|         21|   Entertainment|             1.32|         34083|
|   Deandre|   Keller|4210653348611322|        135|            Test|            30.51|         34085|
|   Deandre|   Keller|4210653348611322|        192|       Education|             25.5|         34087|
|   Deandre|   Keller|4210653348611322|         83|       Education|            45.59|         34088|
+----------+---------+----------------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

4) Used to display the transactions made by a customer between two dates. Order by year, month, and day in descending order

In [61]:
def transaction_twoDates():
    df_cus_tr.createOrReplaceTempView("cus_transaction")
    #spark.sql("select * from cus_transaction").show()
    df_customer_new.createOrReplaceTempView("customer_detail")

    #To test this use first name = "Lillie",  lastname-  "Barrett" and email -  LBarrett@example.com  first date = 201839  last date = 201899
    first_name = input("Enter your first name: ")
    last_name =  input("Enter your last_name: ")
    email = input("Enter your email: ")
    first_date = input("Enter the first date: ")
    second_date = input("Enter the second date: ")

    spark.sql(f"select  FIRST_NAME, LAST_NAME, cd.CUST_EMAIL, ct.CREDIT_CARD_NO, BRANCH_CODE, TRANSACTION_TYPE, TRANSACTION_VALUE, TRANSACTION_ID, ct.TIMEID from customer_detail cd left join cus_transaction ct ON ct. CREDIT_CARD_NO = cd.CREDIT_CARD_NO  where cd.FIRST_NAME = '{first_name}' AND cd.LAST_NAME = '{last_name}' AND cd.CUST_EMAIL = '{email}' AND TIMEID BETWEEN '{first_date}'AND '{second_date}' order by ct.TIMEID DESC").show()
transaction_twoDates()

+----------+---------+--------------------+----------------+-----------+----------------+-----------------+--------------+------+
|FIRST_NAME|LAST_NAME|          CUST_EMAIL|  CREDIT_CARD_NO|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|TIMEID|
+----------+---------+--------------------+----------------+-----------+----------------+-----------------+--------------+------+
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
|    Lillie|  Barrett|LBarrett@example.com|4210653369171115|        114|         Grocery|            41.93|         42619|201899|
+----------+---------+--------------------+----------------+-----------+----------------+-----------------+--------------+------+
only showing top 20 rows